doctype html
html
    head
        link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.10.1/css/all.css",integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe",crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")